<%- include('partials/header') %>
   <h1>Result</h1><br><br>
   <div class="container resultpage"><br><br><br>
      <div>
        <h3>names : <%= names %></h3>
      </div>
      <div>
        <h3>winner is : </h3><h2 style="color: #286090;"><%= pick %></h2>
      </div><br><br>
</div>

<%- include('partials/footer') %>
